<div class="header">
    
    <a href="/">Express Movies</a>
    &nbsp;
    <a href="./../movies">Acceuil</a>
    &nbsp;
    <a href="./../movie-search">Rechercher</a>
    &nbsp;
    <span id="connectionLink">
        <a href="./../login">Connexion</a>
    </span>
    <hr>
</div>