<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Movies</title>
    <link rel="stylesheet" href="./../public/style.css">
</head>
<body>
    <%- include ('./partials/header') %>
    <div class="central">
        <h1>Express Movies: le site web des cinéfiles</h1>
        
        <div>
            <p>
                Êtes-vous plutôt film ou séries ? 
                Peu importe vous trouverez votre bonheur ici.
            </p>
        </div>
        <div>

        </div>
    </div>
    <%- include ('./partials/footer') %>
</body>
</html>