/* source  https://github.com/codeconcept/expressmovies/blob/master/public/style.css */

body {
    font-family: Consolas,Monaco,"Andale Mono",monospace;
    background-image: linear-gradient(red, black);
    color: black;
    width: auto;
    min-height: 1000px;
}

input:focus {
    background-color: lightgreen;
}  

.central {
    min-height: 250px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: dimgray;
}
.header {
    width: 100%;
    color: dimgrey;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: darkgrey;
    text-align: center;
}